@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);

html,
body {
    height: 100%;
}

#form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-box {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    border-bottom: 1px solid black;
}

.form-box h2 {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.button {
    background-color: #c83864;
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
}

.button:hover {
    background-color: #073f6f;
    color: white;
    text-decoration: none;
}

input[type=submit] {
    text-transform: uppercase;
}

.form-box h3 {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.form-box p {
    color: green;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
}